/* @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap'); */

html {
    /* background: hsla(173, 89%, 70%, 1);
    background: linear-gradient(90deg, hsla(173, 89%, 70%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(173, 89%, 70%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(173, 89%, 70%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6FF7E8", endColorstr="#1F7EA1", GradientType=1 );
    background: hsla(221, 45%, 73%, 1); */

    background: linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9BAFD9", endColorstr="#103783", GradientType=1 );

    background-color: #909090;
    padding: 1rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro', sans-serif; font-size: 18px; font-weight: 400;
}

svg {
	color: white;
	display: block;
	margin: 0 auto;
	max-width: 1000px;
}

/* Don't change anything here */
path, rect {
	fill: currentColor;
    stroke: #909090;
	stroke-width: 1;
    text-align: center;
    justify-content: center;
}

/* Color of the two letter abbreviations */
.stateText {
    fill: #d0d0d0;
    text-anchor: middle;
    font-size: 0.9em;
}

/* Easiest way to color all states */
a {
    color: #000040;
    transition: color 0.7s;
}

/* Color the hovered state */
a:hover {
    /* This is the state hover color */
    /* color: #707070; */
    color: #0000a0;
	transition: color 0.7s;
}